# Copy this file to .env.local and fill in the values
# .env.local is gitignored

APP_ENV=dev
APP_SECRET=changeme_32chars_random_string

DATABASE_URL="postgresql://app:app@localhost:5432/clickcollect?serverVersion=16&charset=utf8"

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme_jwt_passphrase

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

MAILER_DSN=smtp://localhost:1025

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
